#page_num_button  {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-font-family: "Arial";
    -fx-background-color: #e17661;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

#page_num_button_selected  {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16;
    -fx-font-family: "Arial";
    -fx-background-color: #b6d31a;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

#PageListControl {
	-fx-background-color: rgb(255, 255, 255);
}

#GradeUIPage_BottomBar {
	-fx-background-color: rgb(255, 255, 255);
}

#GradeUIPage_ButtonReview {
    -fx-background-color: rgb(77, 199, 236); 
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 14;
    -fx-font-family: "Arial";
    -fx-background-radius: 0;
}

#GradeUIPage_ButtonAdd {
    -fx-background-color: rgb(255, 118, 97); 
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 14;
    -fx-font-family: "Arial";
    -fx-background-radius: 0;
}

#GradeUIPage_ButtonNext {
    -fx-background-color: rgb(182, 211, 26); 
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 14;
    -fx-font-family: "Arial";
    -fx-background-radius: 0;
}

.custom-text-field {
	-fx-border-color: rgb(217, 217, 217);
	-fx-background-color: rgb(255, 255, 255);
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.custom-text-field:focused, 
.custom-text-field:text-field-has-focus {
    -fx-border-color: rgb(255, 118, 97);
	-fx-focus-color: rgb(255, 118, 97);
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.list-view {
	-fx-border-color: rgb(217, 217, 217);
}

.list-view:focused {
	-fx-border-color: null;
	-fx-focus-color: rgb(255, 118, 97);
	-fx-background-color: -fx-focus-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: rgb(255, 118, 97);
    -fx-background-insets: 0, 1, 2;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused:odd {
    -fx-background-color: rgb(255, 118, 97);
    -fx-background-insets: 0, 1, 2;
}


.combo-box-base  {
	-fx-border-color: rgb(217, 217, 217);
	-fx-background-color: rgb(255, 255, 255);
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.combo-box-base:focused {
	-fx-border-color: rgb(255, 118, 97);
	-fx-focus-color: rgb(255, 118, 97);
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.combo-box-base > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0.667em 0 0.667em;
}

.combo-box-base:editable > .text-field,
.date-picker > .text-field {
    -fx-border-radius: 0;
    -fx-background-radius:0;
    -fx-background-insets: 0;
}

.combo-box-base:editable > .text-field,
.date-picker > .text-field:focused {
	-fx-focus-color: transparent;
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

